Package: superchat
Version: 0.1.97
Section: office
Priority: optional
Architecture: amd64
Maintainer: 2-TEK Team <contact@2-tek.com>
Installed-Size: 311
Homepage: https://2-tek.com
Description: SuperChat Client
 Real-time AI conversational workspace, channel messaging, and chat bots.
