node_modules/
.DS_Store
*.log

# Electron
dist-electron/
**/dist-electron/
**/dist-electron/**
*/dist-electron/*

# Example directories
.example
.example/
**/.example
**/.example/**
*/.example/*

# Logs
logs/
**/logs/
**/logs/**
*/logs/*
**/*.log
!components/logs/**

# Logs
!**/components/logs/**

# Cache
.Cache
.Cache/
**/.Cache
**/.Cache/**
*/.Cache/*
.cache
.cache/
**/.cache
**/.cache/**
*/.cache/*

# Examples
examples/
**/examples/
**/examples/**
*/examples/*
!**/.agents/**
!.agents/**
!**/components/**
!components/**
