node_modules/
.DS_Store
*.log

# Electron
dist-electron/
**/dist-electron/
**/dist-electron/**
*/dist-electron/*

# Example directories
.example
.example/
**/.example
**/.example/**
*/.example/*

# Logs
logs/
**/logs/
**/logs/**
*/logs/*
**/*.log
!components/logs/**

# Logs
!**/components/logs/**
