Package: officepack
Version: 1.0.18
Section: office
Priority: optional
Architecture: amd64
Maintainer: 2-TEK Team <contact@2-tek.com>
Installed-Size: 32
Homepage: https://2-tek.com
Description: OfficePack
 Official feature suite and service (Word, Excel, Presentation, Pdf, Forms, Notes) with AI handle and gRPC gateway.
